*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --amarillo:#FFE600;
  --blanco:#ffffff;
  --color-letras-ml:#2D3277;
}

.header{
  background-color: var(--amarillo);
  width: 100vw;
  height: 13vh;
  padding: 10px;
}

.img-logo{
  width: 150px;
  margin: 0;
}
.input-nav{
  max-width: 40vw;
}

.logo-mercadoplay{
  width: 150px;
}

.texto-header{
  color: var(--color-letras-ml);
}

.texto-header p{
  font-size: 1rem;
  font-weight: 500;
}
.Carousel-cont {
  position: relative;
  overflow: hidden;
}

/* Degradado blanco en la parte inferior */
.Carousel-cont::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /* ajustá según la altura deseada */
  background: linear-gradient(to top, rgb(0, 0, 0) 0%, transparent 100%);
  z-index: 2;
  pointer-events: none;
}